<div id="todo">
<mat-toolbar color="primary">
    <mat-toolbar-row class="nav-top">
        <div>CRUD Nest-Angular</div>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="todos-container">


<mat-card>
    <mat-card-header>
        <h2>Create todo:</h2>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Title:</mat-label>
            <input matInput required [(ngModel)]="addTaskValue" />
        </mat-form-field>
        <div class="button-wrapper">
            <button mat-flat-button color="primary" (click)="addTodo()" class="button-add">Add todo</button>
        </div>

    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <h2>Todos list:</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <div *ngIf="todos.length <= 0">
                <h4>You don't have any items in your Todo List:</h4>
            </div>
            <mat-list-item *ngFor="let todo of todos" [class.complete]="todo.done" role="listitem">
                <div class="item-wrapper">
                    <mat-checkbox [checked]="todo.done" (change)="toggleDone(todo)" >
                        {{ todo.title }}
                    </mat-checkbox>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="deleteTodo(todo.id)"></mat-icon>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

</div>
</div>